<a href="https://colab.research.google.com/github/SeyedMehdi110/Per-1/blob/main/Perceptron.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importing pandas and numpy libraries
import pandas as pd
import numpy as np

#Read the data from  www.csie.ntu.edu site
df=pd.read_table('https://www.csie.ntu.edu.tw/~cjlin/libsvmtools/datasets/binary/diabetes_scale',
              sep=r'\s+\d+:', engine='python', header=None).loc[:,:]
#showing first 5 rows of our data
df.head()

   0         1         2         3  ...         5         6         7         8
0 -1 -0.294118  0.487437  0.180328  ... -1.000000  0.001490 -0.531170 -0.033333
1  1 -0.882353 -0.145729  0.081967  ... -1.000000 -0.207153 -0.766866 -0.666667
2 -1 -0.058824  0.839196  0.049180  ... -1.000000 -0.305514 -0.492741 -0.633333
3  1 -0.882353 -0.105528  0.081967  ... -0.777778 -0.162444 -0.923997 -1.000000
4 -1 -1.000000  0.376884 -0.344262  ... -0.602837  0.284650  0.887276 -0.600000

[5 rows x 9 columns]

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       768 non-null    int64
 1   1       768 non-null    float64
 2   2       768 non-null    float64
 3   3       768 non-null    float64
 4   4       768 non-null    float64
 5   5       768 non-null    float64
 6   6       768 non-null    float64
 7   7       768 non-null    float64
 8   8       759 non-null    float64
dtypes: float64(8), int64(1)
memory usage: 54.1 KB

In [4]:
df.isnull().sum()     # is there any NULL variable in the dataset?

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    9
dtype: int64

In [5]:
#set NaN to 0
df.fillna(0, inplace=True)

In [6]:
#Importing train_test_split from sklearn library

from sklearn.model_selection import train_test_split
X=df.loc[:,1:]
y = df.loc[:,0:0]

# TRAIN and TEST SPLIT
def split(X,y):
    return train_test_split(X, y, test_size=0.20, random_state=1)

X_train, X_test, y_train, y_test=split(X,y)

print('X_train shape: ',X_train.shape)
print('y_train shape: ',y_train.shape)

print('X_test shape: ',X_test.shape)
print('y_test shape: ',y_test.shape)

X_train shape:  (614, 8)
y_train shape:  (614, 1)
X_test shape:  (154, 8)
y_test shape:  (154, 1)

In [7]:
# N= Number of our data features
N=X_train.columns

#import random and seed libraries
from random import seed
from random import random
seed(10)
#randomize weight our first weight for perceptron
w=[random() for i in range(len(N))]
#Initializing elearn and number of iteration
elearn=.01
T=10
total=0

# Perceptron Model creation
for t in range(T):
        for i in range(len(X_train)):
            if y_train.iloc[i,0]*np.dot(X_train.iloc[i,::],w)<0:
                activation=1
            else:
                activation=0
            total=total+activation*(y_train.iloc[i,0]*X_train.iloc[i,::])
            total=total.iloc[0]
        w_new=w+elearn*total
        w=w_new
count=0        


#Testing our dataset
for i in range(len(X_test)):
    if np.dot(X_test.iloc[i,::],w)>0:
        prediction = 1
    else:
        prediction = -1  
    print("Expected=%d, Predicted=%d" % (y_test.iloc[i,0], prediction))
    if y_test.iloc[i,0]== prediction:
        count=count+1

Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=-1, Predicted=-1
Expected=-1, Predicted=1
Expected=1, Predicted=1
Expected=-1, Predicted=1
Expected=-1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=-1, Predicted=1
Expected=-1, Predicted=1
Expected=-1, Predicted=-1
Expected=-1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=-1, Predicted=1
Expected=1, Predicted=1
Expected=-1, Predicted=1
Expected=-1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=-1, Predicted=1
Expected=1, Predicted=1
Expected=-1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=-1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=-1, Predicted=1
Expected=-1, Predicted=1
Expected=1, Predicted=1
Expected=-1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=-1, Predicted=1
Expected=1, Predicted=1
Expected=-1, Predicted=1
Expected=1, Predicted=1
Expected=-1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=-1, Predicted=1
Expected=1, Predicted=1
Expected=-1, Predicted=1
Expected=1, Predicted=1
Expected=-1, Predicted=1
Expected=-1, Predicted=1
Expected=1, Predicted=1
Expected=-1, Predicted=1
Expected=-1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=-1, Predicted=1
Expected=-1, Predicted=1
Expected=-1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=-1, Predicted=1
Expected=-1, Predicted=1
Expected=1, Predicted=1
Expected=-1, Predicted=1
Expected=-1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=-1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=-1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=-1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=-1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=-1, Predicted=1
Expected=1, Predicted=1
Expected=-1, Predicted=1
Expected=1, Predicted=1
Expected=-1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=-1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=-1, Predicted=1
Expected=1, Predicted=1
Expected=-1, Predicted=1
Expected=1, Predicted=1
Expected=-1, Predicted=1
Expected=-1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=-1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=-1, Predicted=1
Expected=1, Predicted=1
Expected=-1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=-1, Predicted=1
Expected=1, Predicted=1
Expected=-1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=-1, Predicted=1
Expected=-1, Predicted=1
Expected=-1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=-1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1
Expected=-1, Predicted=1
Expected=1, Predicted=1
Expected=1, Predicted=1

In [8]:
accuracy=count*100/len(y_test)
print('Perceptron accuracy= ',accuracy, '%')

Perceptron accuracy=  65.58441558441558 %